@import '@/components/General/styles/General.scss';


.grid-header {
  position: sticky;
  overflow: auto;
  font-weight: 600;
  background-color: $color-french-grey;
  border-bottom: 1px solid $color-fog;

  .grid-row {
    border-bottom: 0 none;

    &:hover {
      background-color: transparent;
    }
  }
}
