$color-black: #000000;
$color-text: #181d1f;
$color-neutral-dark-mineral: #292D32;
$color-dark-mineral: #505861;
$color-regent-grey: #777777;
$color-fog: #DDDDDE;
$color-pale: #F9F9F9;
$color-french-grey: #FAFAFA;
$color-sky: #85c0e4;
