body{
  font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}
